# Terraform backend config for prod environment.  See https://www.terraform.io/docs/language/settings/backends/configuration.html#partial-configuration
# Command to execute:
#    terraform init --backend-config=/tools/terraform/config/backend_prod.config

region = "us-east-1"
profile = "hunter_ops_prod"
bucket = "hunter-ops-tfstate"
